Django
midtransclient
python-dotenv
django-ckeditor
django-ckeditor-5
django-crispy-forms
django_debug_toolbar
django-dotenv
django-environ
django-social-share
django-static-fontawesome
django-taggit
gunicorn
Pillow
django-widget-tweaks
