{% extends 'base.html' %} {% load static %} {% block content %}
<header style="background-image: url('/static/image/kegiatan.jpg');">
    <!--Header dan Highlight Utama-->
    <nav class="navbar">
        <div class="container-fluid" style="padding-top: 20px;">
            <div class="#">
                <a href='/' class="logo"><img src="{% static 'image/logo.png' %}" class="img-fluid"></a>
                <a class="mop" href="#">Tangan Laut</a>
            </div>
            <div class="nav navbar-nav1">
                <a href="/" class="btn">Beranda</a>
                <a href="/donasi" class="btn">Donasi</a>
                <a href="/aksi" class="btn">Aksi</a>
                <a href="/donasi_kelola" class="btn">Login</a>
                <a href="#first-section" class="btn btn1">Hubungi Kami</a>
            </div>
        </div>
        <div class="seca">
            <h1 class="kol" style="left: 70px; top: 347px; text-align: right; font-family: 'Poppins'; font-style: bold; letter-spacing: 0.02em; font-size: 45px;">Laut Kita Kembali Pulih !</h1>
            <p class="lok" style="right: 855px; top: 435px; text-align: left; font-weight: 800; width: 600px; font-size: 20px; line-height: 135%;">Banyak laut yang mampu bernafas kembali dari sampah, ini semua berkat jasa mu! kini laut menjadi tersenyum dan dapat bernafas kembali.</p>
        </div>
    </nav>

</header>
<section>
    <!--Mulai Konten Donasi-->
    <div class="container " style="padding-top: 40px; ">
        <div class="page-content">
            <center>
                <div class="container">
                    <h1 style="text-align: center; padding-top: 15px; padding-bottom: 20px;">Melalui Bantuanmu, Laut Bersih !</h1>
                    <br>
                    <div class="cover bg-white" style="border-radius: 10px; width: 65%;">
                        <div class="cover-bg p-3 p-lg-4 text-white">
                            <div class="row">

                                <div class="text-center text-md-start">
                                    <div class="text-center text-md-start">
                                        <h5 style="text-align: center; color: rgb(6, 14, 44); font-family: 'Poppins'; font-weight: 600;">Lokasi Aksi Tangan Laut di Pantai Baros Kab Bantul, Daerah Istimewa Yogyakarta</h5>
                                        <div class="avatar hover-effect bg-white shadow-sm p-1"><img src="{% static 'image/baross.jpg' %}" width="100%" height="400" style="border-radius: 10px;" /></div>
                                        <img src="{% static 'image/poin.png' %}" class="logo" style="left: 620px; top: 430px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="cover bg-white" style="border-radius: 10px; width: 55%;">
                        <div class="cover-bg p-3 p-lg-4 text-white">
                            <div class="row">

                                <div class="text-center text-md-start">
                                    <div class="text-center text-md-start">
                                        <div class="avatar hover-effect bg-white shadow-sm p-1"><img src="{% static 'image/baros.png' %}" width="100%" height="400" style="border-radius: 10px;" /></div>
                                        <br>
                                        <p style="color: rgb(6, 14, 44); text-align: justify; font-size: 16px;">Dengan menggunakan data yang didapat dari copernicus, khususnya menggunakan parameter Dissolved Inorganic Carbon dapat mengetahui konsentrasi dari parameter tersebut dimana sampah plastik merupakan salah satu komponen
                                            yang paling banyak terkandung pada parameter Dissolved Inorganic Carbon (karbon anorganik). Dengan menggunakan ODV (Ocean Data Viewer) dapat mengetahui bahwa perairan di Pantai Baros Bantul, Daerah Istimewa
                                            Yogyakarta memiliki intensitas yang terbilang mengkhawatirkan, karena kebanyakan komponen sampah plastik ditemukan dengan konsentrasi 1.89 mol/kg. Hal ini menandakan komponen tersebut masih banyak terkandung
                                            pada permukaan air di sekitar Pantai Baros Bantul, Daerah Istimewa Yogyakarta. Maka dari itu perlunya aksi penanganan yang sebaiknnya dimulai terlebih dahulu pada pesisir atau pantai.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="cover shadow-lg bg-white" style="border-radius: 10px; width: 55%;">
                        <div class="cover-bg p-3 p-lg-4 text-white">
                            <div class="row">

                                <div class="text-center text-md-start">
                                    <div class="avatar hover-effect bg-white shadow-sm p-1"><img src="{% static 'image/aksi4.png' %}" width="100%" height="400" style="border-radius: 10px;" /></div>
                                    <p class="card-text" style="margin-top: 10px;"><small class="text-muted">12 Agustus, 2022</small></p>
                                    <h5 class="card-title" style="color: rgb(6, 14, 44); font-family: 'Poppins'; font-weight: 500; padding-left: 3px; ">Waspada! meskipun kecil, sedotan sangat berdampak pada ekosistem, relawan menemukan 50 Kg sampah sedotan di Pantai Baros Bantul, Daerah Istimewa Yogyakarta</h5> <br>
                                    <div>
                                        <article>
                                            <br>
                                            <p style="color: rgb(6, 14, 44); text-align: justify;" class="cutoff-text"> Plastik merupakan salah satu jenis sampah yang sulit terurai bahkan membutuhkan waktu yang lama hingga ratusan tahun contohnya adalah botol plastik membutuhkan waktu 450 tahun, kantong plastik memakan waktu
                                                200 sampai 500 tahun dan kaleng aluminium selama 80 sampai 200 tahun. Maka dari itu, diperlukan sebuah aksi untuk mengurangi resiko yang akan diterdampak oleh ekosistem laut itu sendiri. Seringkali biota
                                                laut jika melihat plastik adalah sebuah makanan sehingga plastik tersebut tertelan dan juga biota laut dapat terjerat pada palastik hal ini menyebabkan mortalitas yang tinggi. Aksi kali ini dilakukan di
                                                Pantai Baros Bantul, Daerah Istimewa Yogyakarta para relawan memperoleh sampah sedotan sebanyak 50 Kg. Terkadang, masih banyak manusia yang lalai bahwa plastik sekecil apapun dapat berdampak buruk untuk
                                                biota laut. Perlu diadakan sosialisasi dalam penggunaan barang yang ramah lingkungan sehingga sampah plastik dapat berkurang, salah satunya adalah menggunakan totebag dan sedotan dengan bahan yang mudah
                                                terurai.
                                            </p>
                                            <input class="expand-btn" type="checkbox">
                                        </article>
                                        <br>
                                    </div>
                                    <!--perkembangan aksi donasiiii-->
                                    <hr style="border-color: #011421;">
                                    <div class="accordion" id="accordionExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                                <button class="accordion-button" style="background-color:white;color:#011421;font-family: 'Poppins'; font-weight: 500; padding-left: 3px; padding-top: 17px; font-size: 20px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">
                                              Perkembangan Aksi Donasi
                                            </button>
                                            </h2>
                                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <!--timeline-->
                                                    <div class="timeline" style="padding-top: 40px;">
                                                        <div class="timeline-card timeline-card-primary" style="filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));">
                                                            <div class="card mb-3" style="width: 100%;">
                                                                <div class="row g-0">
                                                                    <div class="col">
                                                                        <div class="card-body" style="padding-left: 10px;">
                                                                            <p class="card-text" style="margin-top: 10px;"><small class="text-muted">
                                                                            30 Juli, 2022</small></p>
                                                                            <h5 class="card-title" style="padding-top: 15px; font-size: 37px;font-family: 'Poppins';">Alat Kebersihan</h5>
                                                                            <a style="text-align: left; color:#01375a;font-family: 'Poppins'; text-decoration: none;font-size: 19px;padding-top: 20px;" href="#">Rp. 80.000,00</a>
                                                                            <p class="card-text ol" style="padding-top: 25px; font-size: 22px; padding-right: 15px;">Untuk mendukung aksi, para relawan membuat pengeluaran untuk membeli beberapa alat kebersihan diantaranya adalah kantong plastik 2 ukuran dan tempat sampah.
                                                                            </p>
                                                                        </div>
                                                                        <div class="col">
                                                                            <center>
                                                                                <img src="{% static 'image/alatkebersihan4.jpg' %}" class="img-fluid rounded-start" style="filter: drop-shadow(6px 4px 4px rgba(0, 0, 0, 0.25));;
                                                                        border-radius: 20px; width: 80%;height: 320px;"></center><br>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="timeline-card timeline-card-primary" style="filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));">
                                                            <div class="card mb-3" style="width: 100%;">
                                                                <div class="row g-0">

                                                                    <div class="col">

                                                                        <div class="card-body" style="padding-left: 10px;">
                                                                            <p class="card-text" style="margin-top: 10px;"><small class="text-muted">2 Agustus, 2022</small></p>
                                                                            <h5 class="card-title" style="padding-top: 15px; font-size: 37px;font-family: 'Poppins';">Transportasi</h5>
                                                                            <a style="text-align: left; color:#01375a;font-family: 'Poppins'; text-decoration: none;font-size: 19px;padding-top: 20px;" href="#">Rp. 200.000,00</a>
                                                                            <p class="card-text ol" style="padding-top: 25px; font-size: 22px; padding-right: 15px;">Untuk tujuan kali ini, perjalanan yang tidak terlalu jauh sehingga biaya tidak bengkak. Titik point berada di kota Yogyakarta supaya memudahkan para relawan dalam berkumpul dari
                                                                                daerah yang berbeda.
                                                                            </p>
                                                                        </div>
                                                                        <div class="col">
                                                                            <center><img src="{% static 'image/transportasi2.jpg' %}" class="img-fluid rounded-start" style="width: 80%; filter: drop-shadow(6px 4px 4px rgba(0, 0, 0, 0.25));;
                                                                            border-radius: 20px;padding-top: 12px;"></center><br>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="timeline-card timeline-card-primary" style="filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));">
                                                            <div class="card mb-3" style="width: 100%;">
                                                                <div class="row g-0">
                                                                    <div class="col">
                                                                        <div class="card-body" style="padding-left: 10px;">
                                                                            <p class="card-text" style="margin-top: 10px;"><small class="text-muted">2-5 Agustus, 2022</small></p>
                                                                            <h5 class="card-title" style="padding-top: 15px; font-size: 37px;font-family: 'Poppins';">Aksi Relawan</h5>
                                                                            <a style="text-align: left; color:#01375a;font-family: 'Poppins'; text-decoration: none;font-size: 19px;padding-top: 20px;" href="#">Rp. 500.000,00</a>
                                                                            <p class="card-text ol" style="padding-top: 25px; font-size: 22px; padding-right: 15px;">Plastik merupakan salah satu masalah yang sangat urgensi demi kelangsungan hidup biota laut. Relawan menemukan sampah sedotan sebanyak 50 Kg. Tentunya perlu adanya edukasi terkait
                                                                                sedotan yang biasanya disepelekan. Aksi kali ini berlangsung selama dua hari, kami menyediakan termpat sementara dan makan untuk para relawan.
                                                                            </p>
                                                                        </div>
                                                                        <div class="col">
                                                                            <center>
                                                                                <img src="{% static 'image/aksi10.jpg' %}" class="img-fluid rounded-start" style="filter: drop-shadow(6px 4px 4px rgba(0, 0, 0, 0.25));;
                                                                        border-radius: 20px; width: 80%;height: 300px;"></center><br>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="timeline-card timeline-card-primary" style="filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));">
                                                            <div class="card mb-3" style="width: 100%;">
                                                                <div class="row g-0">

                                                                    <div class="col">

                                                                        <div class="card-body" style="padding-left: 10px;">
                                                                            <p class="card-text" style="margin-top: 10px;"><small class="text-muted">2 Agustus, 2022</small></p>
                                                                            <h5 class="card-title" style="padding-top: 15px; font-size: 37px;font-family: 'Poppins';">Kreasi</h5>
                                                                            <a style="text-align: left; color:#01375a;font-family: 'Poppins'; text-decoration: none;font-size: 19px;padding-top: 20px;" href="#">Rp. 25.000,00</a>
                                                                            <p class="card-text ol" style="padding-top: 25px; font-size: 22px; padding-right: 15px;">Para relawan mengajak para masyarakat supaya membuat barang-barang kreasi dari sedotan, harapannya setelah ini akan banyak kreasi baru yang bisa digunakan sehingga penggunaan
                                                                                sampah plastik dapat berkurang. Para relawan membutuhkan pengeluaran sebesar Rp. 25.000,00 untuk membeli bahan-bahan kreasi seperti selotip dan gunting.
                                                                            </p>
                                                                        </div>
                                                                        <div class="col">
                                                                            <center><img src="{% static 'image/ide.jpg' %}" class="img-fluid rounded-start" style="width: 80%; filter: drop-shadow(6px 4px 4px rgba(0, 0, 0, 0.25));;
                                                                            border-radius: 20px;padding-top: 12px;"></center>

                                                                        </div>
                                                                        <div class="col">
                                                                            <center><img src="{% static 'image/ide1.jpg' %}" class="img-fluid rounded-start" style="width: 80%; filter: drop-shadow(6px 4px 4px rgba(0, 0, 0, 0.25));;
                                                                            border-radius: 20px;padding-top: 12px;"></center><br>

                                                                        </div>
                                                                        <div class="col">
                                                                            <center><img src="{% static 'image/aksi11.jpeg' %}" class="img-fluid rounded-start" style="width: 80%; filter: drop-shadow(6px 4px 4px rgba(0, 0, 0, 0.25));;
                                                                            border-radius: 20px;padding-top: 12px;"></center><br>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--akhir timeline perkembangan aksi donasi-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>








                    <br>
                    <div class="cover bg-white" style="border-radius: 10px; width: 55%;">
                        <div class="cover-bg p-3 p-lg-4 text-white">
                            <div class="row">
                                <h1 style="text-align: left; padding-top: 15px; padding-bottom: 5px;color:#01375a;font-size: 29px;">Baca berita lainnya</h1>
                                <hr color="blue" style="width: 47%;align-content: center;" size="10%">
                                <div class="text-center text-md-start">
                                    <div class="text-center text-md-start">

                                        <div class="card-body">
                                            <br>
                                            <div class="text-center text-md-start">
                                                <div class="card w-100">
                                                    <div class="card-body" style="box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25), 1px 1px 7px rgba(0, 0, 0, 0.25);">
                                                        <h5 class="card-title" style="color: rgb(1, 12, 53); font-family: 'Poppins'; font-weight: 500; padding-left: 3px; font-size: 15px; ">Inilah Perjalanan Bebas Sampah ID dalam melaksanakan aksi sampah laut</h5>
                                                        <img src="{% static 'image/infografis.jpg' %}" alt="twbs" width="100%" sizes="20%" class="img-thumbnail cutoff-text">
                                                        <input class="expand-btn" type="checkbox">
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                                <div class="card w-200">
                                                    <div class="card-body" style="box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25), 1px 1px 7px rgba(0, 0, 0, 0.25);">
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="flush-headingOne">
                                                                <button class="accordion-button collapsed" style="background-color:white;color:#011421;font-family: 'Poppins'; font-weight: 500; padding-left: 3px; padding-top: 17px; font-size: 20px;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                                                    aria-expanded="false" aria-controls="flush-collapseOne">
                                                      Aksi Tangan Laut di Desa Tembokrejo, Banyuwangi
                                                    </button>
                                                            </h2>
                                                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                                <div class="accordion-body">Biota laut hampir punah, ternyata terdapat sampah sebesar 1 ton yang ditemui oleh relawan pada Pantai Satelit, Desa Tembokrejo, Banyuwangi<br><br><a style="text-align: left; color:#01375a;font-family: 'Poppins'; text-decoration: none;font-size: 19px;"
                                                                        href="/aksi2">Baca Selengkapnya</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="card w-200">
                                                    <div class="card-body" style="box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25), 1px 1px 7px rgba(0, 0, 0, 0.25);">
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="flush-headingTwo">
                                                                <button class="accordion-button collapsed" style="background-color:white;color:#011421;font-family: 'Poppins'; font-weight: 500; padding-left: 3px; padding-top: 17px; font-size: 20px;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                                                    aria-expanded="false" aria-controls="flush-collapseTwo">
                                                     Aksi Tangan Laut di Desa Margasari, Lampung Timur
                                                    </button>
                                                            </h2>
                                                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                                                <div class="accordion-body">Relawan berhasil mengumpulkan 1436 Kg sampah yang di dominasi oleh sampah plastik di pesisir Desa Margasari, Lampung Timur <br><br><a style="text-align: left; color:#01375a;font-family: 'Poppins'; text-decoration: none;font-size: 19px;"
                                                                        href="/aksi">Baca Selengkapnya</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <br>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </center>
            </div>

        </div>
        <!--Akhir Konten Donasi-->
    </div>
</section>
{% include 'footer.html' %} {% endblock %}