{% extends 'base.html' %} {% load static %} {% block content %}
<header style="background-image: url('/static/image/utama.jpg');">
    <!--Header dan Highlight Utama-->
    <nav class="navbar">
        <div class="container-fluid" style="padding-top: 20px;">
            <div class="#">
                <a href="/" class="logo"><img src="{% static 'image/logo.png' %}" class="img-fluid"></a>
                <a class="mop" href="#">Tangan Laut</a>
            </div>
            <div class="nav navbar-nav1">
                <a href="/" class="btn">Beranda</a>
                <a href="/donasi" class="btn">Donasi</a>
                <a href="/aksi" class="btn">Aksi</a>
                <a href="/donasi_kelola" class="btn">Login</a>
                <a href="#first-section" class="btn btn1">Hubungi Kami</a>
            </div>
        </div>
        <div class="seca">
            <h1 class="kol">Bantu Selamatkan Laut Kita!</h1>
            <p class="lok">Dengan bantuanmu, kami akan menyalurkannya kepada 'Relawan' untuk menyelamatkan laut kita.</p>
            <button class="btn tombol" onclick="window.location.href='/donasi';">Donasi</button>
        </div>
    </nav>

</header>

<!--Isi Konten Utama Website-->
<section>
    <!--Mulai Konten Donasi-->
    <div class="container" style="padding-top: 40px;">
        <div class="row">
            <h1 style="text-align: center; padding-top: 10px;">Siap Mengambil Peranmu?</h1>
            <div class="col-7 imagecontainer" style="padding-top: 30px;">
                <img src="{% static 'image/aksi1.jpg' %}" alt="" class="img-thumbnail">
            </div>
            <div class="col-5" style="padding-top: 113px;">
                <p style="text-align: justify;">Saat ini sampah laut menjadi salah satu fokus utama Indonesia, karena lautan Indonesia merupakan salah satu penyumbang sampah laut terbesar di Dunia. Setiap tahunnya, 1.29 juta ton sampah plastik, yang turut dipengaruhi oleh pasang surut
                    ombak masuk ke perairan Indonesia. Hal ini dapat mempengaruhi ekosistem yang ada di perairan tersebut, dan tentunya akan mempengaruhi kehidupan kita saat ini.</p>
            </div>
        </div>

        <div class="row">
            <h1 style="text-align: center; padding-top: 90px;">Mari Ulurkan Tanganmu!</h1>
            <div class="col-sm-6" style="padding-top: 30px;">
                <div class="card mb-3" style="border-radius: 10px;">
                    <img src="{% static 'image/donasi1.jpg' %}" class="card-img-top img-thumbnail" style="filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));border-radius: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">Bantu Bebas Sampah ID untuk membersihkan laut di Pantai Baros, Daerah Istimewa Yogyakarta</h5>
                        <p class="card-text"><small class="text-muted">Dana Terkumpul</small></p>
                        <h6 style="color: rgb(6, 14, 44); padding-top: 10px; font-size: 25px;">Rp 250.000
                            <p style="color: #858585; font-weight: 700; display: inline;">Open Goal</p>
                        </h6>

                        <div class="progress" style="margin-top: 18px; margin-bottom: -20px;">
                            <div class="progress-bar w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="background-color: #003354;"></div>
                        </div> <br>
                        <h6 style="color: #595959; font-weight: 700; font-size: 17px;">Sisa Waktu -
                            <p style="color: #7a7a7a; font-weight: 700; display: inline; margin-left: 300px; margin-top: -40px;">5 Orang Berpartisipasi</p>
                        </h6>
                        <br>
                        <br>
                        <button class="btn tombul" onclick="window.location.href='/donasi';" style="margin-top: -38px;">Donasi</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="padding-top: 30px;">
                <div class="card mb-3" style="border-radius: 10px;">
                    <img src="{% static 'image/donasi2.png' %}" class="card-img-top img-thumbnail" style="filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));border-radius: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">Pantai Satelit, Desa Tembokrejo, Banyuwangi saat ini sedang sakit. Mari ulurkan tanganmu!</h5>
                        <p class="card-text"><small class="text-muted">Dana Terkumpul</small></p>
                        <h6 style="color: rgb(6, 14, 44); padding-top: 10px; font-size: 25px;">Rp 0
                            <p style="color: #858585; font-weight: 700; display: inline;">Open Goal</p>
                        </h6>

                        <div class="progress" style="margin-top: 18px; margin-bottom: -20px;">
                            <div class="progress-bar w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="background-color: #003354;"></div>
                        </div> <br>
                        <h6 style="color: #595959; font-weight: 700; font-size: 17px;">Sisa Waktu -
                            <p style="color: #7a7a7a; font-weight: 700; display: inline; margin-left: 299px; margin-top: -40px;">0 Orang Berpartisipasi</p>
                        </h6>
                        <br>
                        <br>
                        <button class="btn tombul" onclick="window.location.href='/donasi';" style="margin-top: -38px;">Donasi</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6" style="padding-top: 30px;">
                <div class="card mb-3" style="border-radius: 10px;">
                    <img src="{% static 'image/donasi1.jpg' %}" class="card-img-top img-thumbnail" style="filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));border-radius: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">Bersama Kita Menanggulangi Sampah di Pesisir Desa Margasari, Lampung Timur</h5>
                        <p class="card-text"><small class="text-muted">Dana Terkumpul</small></p>
                        <h6 style="color: rgb(6, 14, 44); padding-top: 10px; font-size: 25px;">Rp 0
                            <p style="color: #858585; font-weight: 700; display: inline;">Open Goal</p>
                        </h6>

                        <div class="progress" style="margin-top: 18px; margin-bottom: -20px;">
                            <div class="progress-bar w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="background-color: #003354;"></div>
                        </div> <br>
                        <h6 style="color: #595959; font-weight: 700; font-size: 17px;">Sisa Waktu -
                            <p style="color: #7a7a7a; font-weight: 700; display: inline; margin-left: 292px; margin-top: -40px;">0 Orang Berpartisipasi</p>
                        </h6>
                        <br>
                        <br>
                        <button class="btn tombul" onclick="window.location.href='/donasi';" style="margin-top: -38px; background-color: #52779a;">Donasi</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="padding-top: 30px;">
                <div class="card mb-3" style="border-radius: 10px;">
                    <img src="{% static 'image/donasi2.png' %}" class="card-img-top img-thumbnail" style="filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));border-radius: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">Bantu Atasi Aksi Pengurangan dan Penanganan Sampah Laut di Laut Teluk Lampung, Bandar Lampung</h5>
                        <p class="card-text"><small class="text-muted">Dana Terkumpul</small></p>
                        <h6 style="color: rgb(6, 14, 44); padding-top: 10px; font-size: 25px;">Rp 0
                            <p style="color: #858585; font-weight: 700; display: inline;">Open Goal</p>
                        </h6>

                        <div class="progress" style="margin-top: 18px; margin-bottom: -20px;">
                            <div class="progress-bar w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="background-color: #003354;"></div>
                        </div> <br>
                        <h6 style="color: #595959; font-weight: 700; font-size: 17px;">Sisa Waktu -
                            <p style="color: #7a7a7a; font-weight: 700; display: inline; margin-left: 300px; margin-top: -40px;">0 Orang Berpartisipasi</p>
                        </h6>
                        <br>
                        <br>
                        <button class="btn tombul" onclick="window.location.href='/donasi';" style="margin-top: -38px;">Donasi</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--Akhir Konten Donasi-->

    <!--Mulai Konten Aksi Penanganan-->
    <div class="container" style="padding-top: 0px; padding-bottom: 150px;">

        <div class="row">
            <h1 style="text-align: center; padding-top: 90px;">Berkat Peranmu, Laut Selamat!</h1>
            <h3 style="text-align: left;padding-top: 30px;">Berita Aksi Penanganan Terbaru</h3>
            <div class="col-sm-4" style="padding-top: 10px;">
                <div class="card mb-3" style="border-radius: 10px;">
                    <img src="{% static 'image/aksi2.png' %}" class="card-img-top img-thumbnail" style="filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));border-radius: 10px;">
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted">12 Agustus, 2022</small></p>
                        <h5 class="card-title" style="text-align: justify;margin-top: -10px;">Relawan berhasil mengumpulkan 1436 Kg sampah yang di dominasi oleh sampah plastik di pesisir Desa Margasari, Lampung Timur.</h5>
                        <br>
                        <br>
                        <br>
                        <button class="btn tombal" style="margin-top: -40px;margin-left: 194px;"><a href="/aksi" style="text-decoration: none;color: white;">Baca Selengkapnya</a></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="padding-top: 10px;">
                <div class="card mb-3" style="border-radius: 10px;">
                    <img src="{% static 'image/aksi3.png' %}" class="card-img-top img-thumbnail" style="filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));border-radius: 10px;">
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted">18 Oktober, 2022</small></p>
                        <h5 class="card-title" style="text-align: justify;margin-top: -10px;">Biota laut hampir punah, ternyata terdapat sampah sebesar 1 ton yang ditemui oleh relawan pada Pantai Satelit, Desa Tembokrejo, Banyuwangi</h5>
                        <br>
                        <br>
                        <br>
                        <button class="btn tombal" style="margin-top: -40px;margin-left: 194px;"><a href="/aksi2" style="text-decoration: none;color: white;">Baca Selengkapnya</a></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="padding-top: 10px;">
                <div class="card mb-3" style="border-radius: 10px;">
                    <img src="{% static 'image/aksi4.png' %}" class="card-img-top img-thumbnail" style="filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));border-radius: 10px;">
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted">12 Desember, 2022</small></p>
                        <h5 class="card-title" style="text-align: justify;margin-top: -10px;">Waspada! meskipun kecil, sedotan sangat berdampak pada ekosistem, relawan menemukan 50 Kg sampah sedotan di Pantai Baros, Daerah Istimewa Yogyakarta </h5>
                        <br>
                        <br>
                        <br>
                        <button class="btn tombal" style="margin-top: -40px;margin-left: 194px;"><a href="/aksi3" style="text-decoration: none;color: white;">Baca Selengkapnya</a></button>
                    </div>
                </div>
            </div>
            <!--Akhir Konten Aksi Penanganan-->
        </div>

    </div>
    <div class="wavy" style="background-image: url('/static/image/wavee.png');"></div>
</section>

<div class="sec">
    <div class="work-experience-section" style="width: 85%;">
        <h2 style="text-align: center;">Bagaimana Tangan Laut Bekerja?</h2>
        <div class="timeline" style="padding-top: 40px;">
            <div class="timeline-card timeline-card-primary" style="filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));">
                <div class="card mb-3" style="width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <img src="{% static 'image/skubadark.png' %}" class="img-fluid rounded-start" style="filter: drop-shadow(6px 4px 4px rgba(0, 0, 0, 0.25));;
                            border-radius: 20px; width: 515.35px;height: 394px;">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body" style="padding-left: 10px;">
                                <h5 class="card-title lol" style="padding-top: 30px;">IDE</h5>
                                <p class="card-text ol" style="padding-top: 0px; font-size: 22px; padding-right: 15px;">Sampah laut yang ada seperti plastik dan alat tangkap yang dibuang merupakan sampah laut yang paling mematikan serta sangat sulit dipulihkan. Sehingga perlunya aksi penanganan segera terhadap pencegahan dan pemulihan laut.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="timeline-card timeline-card-primary" style="filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));">
                <div class="card mb-3" style="width: 100%;">
                    <div class="row g-0">

                        <div class="col-md-7">
                            <div class="card-body">
                                <h5 class="card-title lol" style="padding-left: 15px; font-size: 35px; padding-top: 35px;">Pemetaan</h5>
                                <p class="card-text ol" style="padding-left: 15px; font-size: 22px;">Pemetaan lokasi akan dilakukan dengan tujuan untuk mengidentifikasi sampah laut di Indonesia.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <center><img src="{% static 'image/pemetaan.png' %}" class="img-fluid rounded-start" style="width: 75%; padding-top: 12px;"></center>

                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="timeline-card timeline-card-primary" style="filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));">
                <div class="card mb-3" style="width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <img src="{% static 'image/trashwater.png' %}" class="img-fluid rounded-start" style="filter: drop-shadow(6px 4px 4px rgba(0, 0, 0, 0.25));;
                            border-radius: 20px; width: 515.35px;height: 394px;">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body" style="padding-left: 10px;">
                                <h5 class="card-title lol" style="padding-top: 70px; font-size: 39px;">Penyaluran Dana</h5>
                                <p class="card-text ol" style="padding-top: 0px; font-size: 22px; padding-right: 15px;">Dana yang ditampung didapat dari donatur yang kemudian akan disalurkan kepada relawan (komunitas) yang ingin atau sedang melaksanakan kegiatan pemulihan laut.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="timeline-card-primary" style="filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));">
                <center>
                    <div class="card" style="width: 70%; height: 300;">
                        <iframe width="100%" height="400" src="https://www.youtube.com/embed/_oNtWQ8DBa0" style="border-radius: 10px;">
                    </iframe>
                    </div>
                </center>

            </div>
            <br>
        </div>
        <br>
        <br>
        <div class="row">
            <h1 style="text-align: center; padding-top: 10px; color: #003354;">Siap Mengambil Peranmu?</h1>
            <div class="col-7 imagecontainer" style="padding-top: 30px;">
                <img src="{% static 'image/surface.png' %}" alt="" class="img-thumbnail" style="filter: drop-shadow(-1px -1px 4px rgba(0, 0, 0, 0.25)) drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));">
            </div>
            <div class="col-5" style="padding-top: 113px;">
                <p style="text-align: justify; color: #003354; font-weight: 1000; font-size: 18px; padding-top: 15px;">Kami membutuhkanmu! untuk ikut serta dalam aksi-aksi penanganan, pencegahan, dan pengelolaan sampah laut di perairan Indonesia.</p>
                <br>
                <button class="btn tombul" onclick="window.location.href='/relawan';" style="width: 30%; height: 48px;">Daftar Sekarang</button>
            </div>
        </div>
        <br>
        <br>
    </div>
    <div class="wavoy" style="background-image: url('/static/image/wavo.png');"></div>
</div>{% include 'footer.html' %}{% endblock %}