{% extends 'base.html' %} {% load static %} {% load humanize %} {% block content %}
<header>
    <!--Header dan Highlight Utama-->
    <nav class="navbar">
        <div class="container-fluid" style="padding-top: 20px;">
            <div class="#">
                <a href="/" class="logo"><img src="{% static 'image/logo.png' %}" class="img-fluid"></a>
                <a class="mop" href="#">Tangan Laut</a>
            </div>
            <div class="nav navbar-nav1">
                <a href="/" class="btn">Beranda</a>
                <a href="/donasi" class="btn">Donasi</a>
                <a href="/aksi" class="btn">Aksi</a>
                <a href="{% url 'logout' %}" class="btn">Logout</a>
                <a href="#first-section" class="btn btn1">Hubungi Kami</a>
            </div>

        </div>
        <div style="padding-top: 40px; background-color: #003354;">
            <div class="page-content">
                <center>
                    <div class="container">
                        <div class="cover bg-white" style="border-radius: 10px; width: 105%; background-color: #DCF0FF; border-radius: 17px;">
                            <div class="cover-bg p-3 p-lg-4 text-white" style="background-color: #DCF0FF; border-radius: 17px;">
                                <br>
                                <h1 style="color: #003354;">Dashboard</h1>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <img src="{% static 'image/air.png' %}" class="img-thumbnail" alt="">
                                    </div>
                                    <div class="col">
                                        <h1 style="color: #003354;">Kelola CRUD</h1>
                                        <button class="btn tombul" onclick="window.location.href='/aksi_kelola';" style="width: 30%; height: 48px; right:180px;">CRUD Laporan Aksi Penanganan</button>
                                        <br>
                                        <br>
                                        <br>
                                        <button class="btn tombul" onclick="window.location.href='/donasi_kelola';" style="width: 30%; height: 48px; right:180px;">CRUD Donasi</button>
                                    </div>
                                </div>

                                <br>

                            </div>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </nav>

</header>

{% endblock content %}