{% extends 'base.html' %} {% load static %} {% load humanize %} {% block content %}
<header style="background-image: url('/static/image/aaksi.png');">
    <!--Header dan Highlight Utama-->
    <nav class="navbar">
        <div class="container-fluid" style="padding-top: 20px;">
            <div class="#">
                <a href='/' class="logo"><img src="{% static 'image/logo.png' %}" class="img-fluid"></a>
                <a class="mop" href="#">Tangan Laut</a>
            </div>
            <div class="nav navbar-nav1">
                <a href="/" class="btn">Beranda</a>
                <a href="/donasi" class="btn">Donasi</a>
                <a href="/aksi" class="btn">Aksi</a>
                <a href="/donasi_kelola" class="btn">Login</a>
                <a href="#first-section" class="btn btn1">Hubungi Kami</a>
            </div>
        </div>
        <div class="seca">
            <h1 class="kol" style="left: 70px; top: 347px; text-align: right; font-family: 'Poppins'; font-style: bold; letter-spacing: 0.02em; font-size: 45px;">Laut Membutuhkanmu !</h1>
            <p class="lok" style="right: 855px; top: 435px; text-align: left; font-weight: 800; width: 600px; font-size: 20px; line-height: 135%;">Dengan bantuanmu, kami akan menyalurkannya kepada 'Relawan' untuk menyelamatkan laut kita.</p>
        </div>
    </nav>

</header>

<section>
    <!--Mulai Konten Donasi-->
    <div class="container " style="padding-top: 40px; ">
        <div class="page-content">
            <center>
                <div class="container">
                    <h1 style="text-align: center; padding-top: 15px; padding-bottom: 20px;">Mari Ulurkan Tanganmu!</h1>
                    <div class="cover bg-white" style="border-radius: 10px; width: 65%;">
                        <div class="cover-bg p-3 p-lg-4 text-white">
                            <div class="row">

                                <div class="text-center text-md-start">
                                    <div class="text-center text-md-start">
                                        <h5 style="text-align: center; color: rgb(6, 14, 44); font-family: 'Poppins'; font-weight: 600;">Lokasi Aksi Tangan Laut di Pantai Baros Kab Bantul, Daerah Istimewa Yogyakarta</h5>
                                        <div class="avatar hover-effect bg-white shadow-sm p-1"><img src="{% static 'image/baross.jpg' %}" width="100%" height="400" style="border-radius: 10px;" /></div>
                                        <img src="{% static 'image/poin.png' %}" class="logo" style="left: 620px; top: 420px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="cover shadow-lg bg-white" style="border-radius: 10px; width: 55%;">
                        <div class="cover-bg p-3 p-lg-4 text-white">
                            <div class="row">

                                <div class="text-center text-md-start">
                                    <div class="avatar hover-effect bg-white shadow-sm p-1"><img src="{% static 'image/donasi1.jpg' %}" width="100%" height="400" style="border-radius: 10px;" /></div>
                                    <h5 class="card-title" style="color: rgb(6, 14, 44); font-family: 'Poppins'; font-weight: 500; padding-left: 3px; padding-top: 17px;">Aksi membersihkan laut di Pantai Baros, Daerah Istimewa Yogyakarta</h5>
                                    <h5 class="card-title" style="color: rgb(1, 30, 133); font-family: 'Poppins'; font-weight: 500; padding-left: 3px; font-size: 15px; padding-top: 10px;">Bebas Sampah ID</h5>
                                    <h6 style="color: rgb(6, 14, 44); padding-top: 10px; font-size: 25px;">Rp 250.000
                                        <p style="color: #858585; font-weight: 700; display: inline;">Open Goal</p>
                                    </h6>

                                    <div class="progress" style="margin-top: 18px; margin-bottom: -20px;">
                                        <div class="progress-bar w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="background-color: #003354;"></div>
                                    </div> <br>
                                    <h6 style="color: #595959; font-weight: 700; font-size: 17px;">Sisa Waktu -
                                        <p style="color: #7a7a7a; font-weight: 700; display: inline; margin-left: 350px; margin-top: -40px;">5 Orang Berpartisipasi</p>
                                    </h6>
                                    <hr style="border-color: #011421;">
                                    <div>
                                        <article>
                                            <h1 class="card-title" style="color: rgb(6, 14, 44); font-family: 'Poppins'; font-weight: 500; padding-left: 3px; padding-top: 17px; font-size: 28px;">Info Aksi Aksi Tangan Laut</h1>
                                            <br>
                                            <p style="color: rgb(6, 14, 44); text-align: justify;" class="cutoff-text">Sampah plastik hingga kini masih menjadi problem yang membebani Indonesia. Sampah plastik merupakan isu global yang lintas batas, karena jika dilihat, sampah plastik di laut tidak hanya berdampak pada perairan,
                                                melainkan juga ekosistem yang ada di perairan. Selain itu, karena adanya sumber daya ikan di perairan yang juga dikonsumsi manusia, maka sampah plastik di laut juga mengancam kesehatan manusia. Di tangan
                                                para orang kreatif, sampah plastik ini pun diubah menjadi produk daur ulang yang multifungsi dan mengagumkan. Namun jumlah sampah masih terlalu banyak untuk diatasi beberapa orang saja. <br><br>Indonesia
                                                menghasilkan sekitar 3,2 juta ton sampah setiap tahun dan hampir setengahnya berakhir di laut, menurut sebuah studi tahun 2015 dalam jurnal Science. Indonesia bahkan disebut sebagai negara penyumbang sampah
                                                plastik ke lautan terbanyak ke-dua setelah China. Dengan adanya jumlah sampah laut di Indonesia yang dikira akan semakin meningkat setiap tahunnya. Maka perlunya aksi penanganan, pelaksanaan, dan pencegahan
                                                terhadap sampah plastik di Indonesia. Berdasarkan perencanaan yang telah dilakukan komunitas, pendanaan merupakan salah satu permasalahan yang menjadi faktor penghambat dalam pelaksanaan kegiatan tersebut.
                                                Maka dari itu, kami komunitas Bebas Sampah ID menyuarakan aksi penanganan sampah plastik tersebut kepada masyarakat untuk ikut serta dalam pelaksanaannya melalui Tangan Laut sebagai perantara pendanaan kegiatan.</p>
                                            <input class="expand-btn" type="checkbox">
                                        </article>
                                        <br>
                                    </div>
                                    <hr style="border-color: #011421;">
                                    <h1 class="card-title" style="color: rgb(6, 14, 44); font-family: 'Poppins'; font-weight: 500; padding-left: 3px; padding-top: 17px; font-size: 28px;">Donatur
                                        <p style="color: #7a7a7a; font-weight: 700; display: inline;">(05)</p>
                                        </a>
                                    </h1>
                                    <br> {% for donas in donate %}
                                    <div class="d-grid" style="padding-bottom: 50px;">
                                        <img src="{% static 'image/user.png' %}" alt="twbs" width="32" height="32" class="rounded-circle">

                                        <h6 style="color: #3f419a; font-size: 18px; font-weight: 600; margin-top: -28px; margin-left: 44px;">{{ donas.nama }}
                                            <p style="color: #7a7a7a; font-weight: 700; display: inline; font-size: 12px; padding-left: 7px; font-style: 'Poppins';">{{ donas.waktu }}</p>
                                        </h6>
                                        <p style="color: #011421;margin-left: 40px">"{{ donas.deskripsi }}"</p>
                                        <button class="btn tombul" style="width: 120px; margin-left: 40px; margin-top: 70px; font-size: 16px; height: 32px;">Rp {{ donas.nominal_id }}</button>
                                    </div>
                                    <hr style="border-color: #011421;"> {% endfor %}

                                    <input class="expand-btn" type="checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="cover bg-white" style="border-radius: 10px; width: 55%;">
                        <div class="cover-bg p-3 p-lg-4 text-white">
                            <div class="row">

                                <div class="text-center text-md-start">
                                    <div class="text-center text-md-start">
                                        <h5 style="text-align: center; color: rgb(6, 14, 44); font-family: 'Poppins'; font-weight: 500; font-size: 30px">Donasi</h5>
                                        <div class="card w-100">
                                            <div class="card-body" style="box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25), 1px 1px 7px rgba(0, 0, 0, 0.25);">
                                                <h5 class="card-title" style="color: rgb(1, 12, 53); font-family: 'Poppins'; font-weight: 500; padding-left: 3px; font-size: 14px; ">Kamu akan berdonasi untuk aksi...</h5>
                                                <h6 class="card-title" style="color: #1a2d6b; font-size: 18px; font-weight: 600; margin-top: -5px; ">Aksi Tangan Laut di Pantai Baros, Daerah Istimewa Yogyakarta</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <form action="/donasi/" method="post" enctype="multipart/form-data" style="font-family: 'Poppins';">
                                        {% csrf_token %} {{ form.as_p}}



                                        <br> {% for product in products %}
                                        <center>
                                            <button class="btn tombil" style="width: 95%; margin-top: 10px; margin-bottom: 5px;"><a href="{% url 'checkout' product.id %}" class="card-footer-item" style="text-decoration: none;">
                                            <p class="title is-4" style="font-family: 'Poppins';
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 20px; padding-top: 6px;">{{ product.name }} Rp {{ product.price|intcomma }}</p>
                                        </a></button>
                                        </center>
                                        {% endfor %}
                                        <center><br><input type="submit" value="Pilih Nominal" class="btn btn-primary"></center>
                                        <br>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="cover bg-white" style="border-radius: 10px; width: 55%;">
                        <div class="cover-bg p-3 p-lg-4 text-white">
                            <div class="row">

                                <div class="text-center text-md-start">
                                    <div class="text-center text-md-start">
                                        <img src="{% static 'image/aksi2.png' %}" class="card-img-top img-thumbnail" style="filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));border-radius: 10px;">
                                        <div class="card-body">
                                            <p class="card-text" style="padding-top: 10px;"><small class="text-muted">12 Agustus, 2022</small></p>
                                            <h5 class="card-title" style="color: rgb(6, 14, 44); font-family: 'Poppins'; font-weight: 600; padding-left: 3px; padding-top: 5px;">Aksi Tangan Laut di Pantai Baros, Daerah Istimewa Yogyakarta</h5>
                                            <br>
                                            <div class="text-center text-md-start">
                                                <div class="card w-100">
                                                    <div class="card-body" style="box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25), 1px 1px 7px rgba(0, 0, 0, 0.25);">
                                                        <h5 class="card-title" style="color: rgb(1, 12, 53); font-family: 'Poppins'; font-weight: 500; padding-left: 3px; font-size: 15px; ">Inilah Perjalanan Bebas Sampah ID dalam melaksanakan aksi sampah laut</h5>
                                                        <img src="{% static 'image/infografis.jpg' %}" alt="twbs" width="100%" sizes="20%" class="img-thumbnail cutoff-text">
                                                        <input class="expand-btn" type="checkbox">
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="text-center text-md-start">
                                                <div class="card w-100">
                                                    <div class="card-body" style="box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25), 1px 1px 7px rgba(0, 0, 0, 0.25);">
                                                        <h5 class="card-title" style="color: rgb(1, 12, 53); font-family: 'Poppins'; font-weight: 500; padding-left: 3px; font-size: 14px; ">Relawan berhasil mengumpulkan 1436 Kg sampah yang di dominasi oleh sampah plastik di pesisir Desa Margasari, Lampung Timur.</h5>
                                                        <h6 class="card-title" style="color: #1a2d6b; font-size: 18px; font-weight: 600; margin-top: -5px; ">Aksi Tangan Laut di Pantai Baros, Daerah Istimewa Yogyakarta</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="text-center text-md-start">
                                                <div class="card w-100">
                                                    <div class="card-body" style="box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25), 1px 1px 7px rgba(0, 0, 0, 0.25);">
                                                        <h5 class="card-title" style="color: rgb(1, 12, 53); font-family: 'Poppins'; font-weight: 500; padding-left: 3px; font-size: 14px; ">Relawan berhasil mengumpulkan 1436 Kg sampah yang di dominasi oleh sampah plastik di pesisir Desa Margasari, Lampung Timur.</h5>
                                                        <h6 class="card-title" style="color: #1a2d6b; font-size: 18px; font-weight: 600; margin-top: -5px;">Aksi Tangan Laut di Pantai Baros, Daerah Istimewa Yogyakarta</h6>
                                                    </div>

                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </center>

            </div>

        </div>
        <!--Akhir Konten Donasi-->
    </div>
</section>
{% include 'footer.html' %} {% endblock %}