{% extends 'base.html' %} {% load static %} {% load humanize %} {% block content %}

<div style="padding-top: 40px; background-color: #003354;">
    <div class="page-content">
        <center>
            <div class="container">
                <div class="cover bg-white" style="border-radius: 10px; width: 48%; background-color: #DCF0FF; border-radius: 17px;">
                    <div class="cover-bg p-3 p-lg-4 text-white" style="background-color: #DCF0FF; border-radius: 17px;">
                        <br>
                        <div class="row">

                            <div class="text-center text-md-start">
                                <div class="text-center text-md-start">
                                    <div class="card w-100" style="border-radius: 13px;">
                                        <div class="card-body" style="background: #F6FBFF;
                                        box-shadow: 3px 4px 14px rgba(0, 0, 0, 0.25);
                                        border-radius: 13px;">
                                            <h5 class="card-title" style="font-family: 'Poppins';
                                            font-style: normal;
                                            font-weight: 550;
                                            font-size: 24px;
                                            line-height: 36px;                                          
                                            color: #757575;">Total
                                                <p style="color: #757575; font-size: 18px; display: inline;font-weight: 600; text-align: left; margin-left: 335px;">Pay within 1 Day</p>
                                            </h5>
                                            <h6 class="card-title" style="font-family: 'Poppins';
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 30px;
                                            line-height: 45px; color: #003354; margin-top: -5px;">Rp {{ product.price|intcomma }}</h6>
                                            <h5 class="card-title" style="font-family: 'Poppins';
                                            font-style: normal;
                                            font-weight: 550;
                                            font-size: 17px;
                                            line-height: 36px;                                          
                                            color: #807f7f;">Aksi Tangan Laut di Pantai Baros, Daerah Istimewa Yogyakarta
                                            </h5>
                                        </div>
                                    </div>
                                    <h6 class="card-title" style="font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 28px;
                                    line-height: 45px; 
                                    color: #000000; margin-top: 55px;">Bank BCA</h6>
                                    <img src="{% static 'image/bca.png' %}" style="width: 15%; height: 15%; margin-left: 490px; margin-top: -75px;">
                                    <h6 class="card-title" style="font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 18px;
                                    line-height: 20 px;
                                    color: #302F36; margin-top: 25px;">Complete payment from BCA to the virtual account number below.</h6>
                                    <h6 class="card-title" style="font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 18px;
                                    line-height: 20 px;
                                    color: #302F36; margin-top: 45px;">Virtual account number :</h6>
                                    {% if midtrans_status == 'pending' %}
                                    <h6 class="card-title" style="font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 28px;
                                    line-height: 46px;
                                    color: #1F1F21; margin-top: 10px;">{% for virtual_account in virtual_accounts %}
                                        <b>
                                                        {{ virtual_account.va_number }}
                                                    </b> {% endfor %}
                                    </h6>
                                    {% endif %}
                                    <h6 class="card-title" style="font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 18px;
                                    line-height: 20 px;
                                    color: #302F36; margin-top: 30px;">Status Payment</h6>
                                    <button class="btn tombul" style="background: #F4DE66; width: 242px; font-size: 15px; height: 47px; margin-top: 10px;"><span class="tag {% if midtrans_status == 'pending' %}is-warning{% elif midtrans_status == 'settlement' %}is-success{% endif %}" style="color: #1F1F21; font-family: 'Poppins';
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 18px;">{{ status }}</span></button>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <span>
                                        {% if midtrans_status == 'pending' %}
                                        <button class="btn tombul" style="width: 580px; font-size: 29px; height: 58px;"><a href="{% url 'payment-confirmation' transaction_id %}" style="text-decoration: none; color: white; font-size: 22px;">Konfirmasi Selesai Pembayaran</a></button>
                                            
                                        {% elif midtrans_status == 'settlement' %}
                                        <button class="btn tombul" style="width: 580px; font-size: 29px; height: 58px;" onclick="window.location.href='/donasi';"><a style="text-decoration: none; color: white; font-size: 22px;">Kembali</a></button>
                                        {% endif %}
                                    </span>
                                </div>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </div>
</div>
{% endblock content %}