{% extends 'base.html' %} {% load static %} {% load humanize %} {% block content %}
<form action="" method="post" class="romf" style="height: 700px; width: 500px;">
    {% csrf_token %}
    <h3 class="romk">Signup Here</h3>

    <label for="username" class="babel">Username</label>
    <input type="text" placeholder="Username" name="username" id="username" class="puput">

    <label for="email" class="babel">Email</label>
    <input type="email" placeholder="Email or Phone" name="email" id="email" class="puput">

    <label for="password1" class="babel">Password</label>
    <input type="password" placeholder="Password" id="password1" name="password1" class="puput">


    <label for="password2" class="babel">Confirm Password</label>
    <input type="password" placeholder="Confirm Password" id="password2" name="password2" class="puput">
    <button type="submit" style="margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;">Signup</button>

    <a href="{% url 'login' %}">i have already account</a>
</form>
{% endblock content %}